#!/usr/bin/env bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

# Point kubectl at the local kind kubeconfig written by deploy/kind/setup.sh.
# Falls back gracefully if the file doesn't exist yet (i.e. before first setup).
if [[ -f "${PWD}/.kube/config" ]]; then
  export KUBECONFIG="${PWD}/.kube/config"
fi
